body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    font-size: 4vw;
}

.label-quiz {
    display: block;
    margin: 5px 15px;
}

.quiz-section-div {
    display: flex;
    justify-content: space-between;
}

.select-quiz {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 1px 7px #ccc;
    margin: 10px;

    cursor: pointer;
    background-color: #fff;
}

.option-quiz option {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 1px 7px #ccc;
    margin: 10px;
}

.btn-quiz {
    margin: 30px 10px;
    transition: .3s ease;
}

.btn-quiz:hover {
    background-color: #000;
    color: #fff;
}

ol {
    list-style-type: lower-alpha
}

.quiz-question {
    border-radius: 8px;
    box-shadow: 0px 1px 5px #ccc;
    padding: 20px;
    margin: 20px;
}